Story Making Agent.json
{
  "name": "Story Making Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Team",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Looks"
            },
            {
              "fieldLabel": "Profession",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Video Editor"
                  },
                  {
                    "option": "Graphic Designer"
                  },
                  {
                    "option": "AI Engineer"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        304
      ],
      "id": "38daf913-5102-4a1d-951c-2f162f3ab309",
      "name": "On form submission",
      "webhookId": "067be02f-cc39-487c-83b6-102316c13ac2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appm2z0Th17FZ7U7G",
          "mode": "list",
          "cachedResultName": "Monthly Expenses Sheet",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G"
        },
        "table": {
          "__rl": true,
          "value": "tblHzboSrvYmqWc72",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G/tblHzboSrvYmqWc72"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Looks": "={{ $json.Looks }}",
            "Profession": "={{ $json.Profession }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Engineer",
                  "value": "AI Engineer"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        304
      ],
      "id": "908ecf5c-e61f-4080-befd-b5f9b02a256b",
      "name": "Update in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "MVrFYKCeoeSoWTBK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Video Editor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e044a719-46cf-4249-90f0-627b4c672025"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4bb3b30c-37e9-4420-abc4-ed5e522da778",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Graphic Designer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "afcb8566-ac38-4956-9a96-30b2e4251679",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "AI Engineer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        448,
        288
      ],
      "id": "978dfd0d-50d3-4ee3-9a09-88feb2c62cff",
      "name": "Pathways"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appm2z0Th17FZ7U7G",
          "mode": "list",
          "cachedResultName": "Monthly Expenses Sheet",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G"
        },
        "table": {
          "__rl": true,
          "value": "tblHzboSrvYmqWc72",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G/tblHzboSrvYmqWc72"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Update in Airtable').item.json.id }}",
            "Profession": "Video Editor",
            "Rating": 5
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Engineer",
                  "value": "AI Engineer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        112
      ],
      "id": "dcf7eedb-b529-4d48-8937-6c2760b3b956",
      "name": "Video Editor Rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "MVrFYKCeoeSoWTBK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appm2z0Th17FZ7U7G",
          "mode": "list",
          "cachedResultName": "Monthly Expenses Sheet",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G"
        },
        "table": {
          "__rl": true,
          "value": "tblHzboSrvYmqWc72",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G/tblHzboSrvYmqWc72"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Update in Airtable').item.json.id }}",
            "Profession": "Graphic Designer",
            "Rating": 3
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Engineer",
                  "value": "AI Engineer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        304
      ],
      "id": "4ad79642-3369-4fe3-9dbe-556a54bd6fca",
      "name": "Graphic Designer Rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "MVrFYKCeoeSoWTBK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appm2z0Th17FZ7U7G",
          "mode": "list",
          "cachedResultName": "Monthly Expenses Sheet",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G"
        },
        "table": {
          "__rl": true,
          "value": "tblHzboSrvYmqWc72",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G/tblHzboSrvYmqWc72"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Update in Airtable').item.json.id }}",
            "Profession": "AI Engineer",
            "Rating": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Engineer",
                  "value": "AI Engineer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        672,
        496
      ],
      "id": "d1bbf8a2-0a3a-4499-a39d-40c14e4a8f6a",
      "name": "AI Manager Rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "MVrFYKCeoeSoWTBK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I want you to act like the best poem creator and create a two line poem based on the details given below. The poem should be only 2 lines and not more that that. Also the poem should be extremely simple to understand. \n\nI want you to include these things in the poem:\nName: {{ $('On form submission').item.json.Name }}\nLooks: {{ $('On form submission').item.json.Looks }}\nProfessions: {{ $('On form submission').item.json.Profession }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        896,
        304
      ],
      "id": "b42d8d73-14b9-40dd-8fcb-2a782755da42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        968,
        528
      ],
      "id": "7995978b-d942-428e-8e8b-d70260ec0ba1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gaFF3Ev6pB8bhl8O",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appm2z0Th17FZ7U7G",
          "mode": "list",
          "cachedResultName": "Monthly Expenses Sheet",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G"
        },
        "table": {
          "__rl": true,
          "value": "tblHzboSrvYmqWc72",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://airtable.com/appm2z0Th17FZ7U7G/tblHzboSrvYmqWc72"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Poem": "={{ $json.output }}",
            "id": "={{ $('Update in Airtable').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Engineer",
                  "value": "AI Engineer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poem",
              "displayName": "Poem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1248,
        304
      ],
      "id": "1af215b7-2884-4f35-a400-b09671679843",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "MVrFYKCeoeSoWTBK",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Update in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update in Airtable": {
      "main": [
        [
          {
            "node": "Pathways",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pathways": {
      "main": [
        [
          {
            "node": "Video Editor Rating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Graphic Designer Rating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Manager Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Graphic Designer Rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Editor Rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Manager Rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a4a9865-dec1-491d-9765-09654723cf8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08b088593af2731e8fbe1e401a9ca6cad439ac8d69d0909ced040588f94e1d2c"
  },
  "id": "7rtSsqdFLiMFeKui",
  "tags": []
}